<h1>Edit Your Profile </h1>
<%=form_for @user do |f|%>
	<% if @user.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@user.errors.count, "error") %> prohibited sign up:</h2>

	      <ul>
	      <% @user.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	    </div>
	      <% end %>
	<% end %>

<%=f.text_field :first_name, placeholder: "First Name"%><br>
<%=f.text_field :last_name, placeholder: "Last Name"%><br>
<%=f.text_field :email, placeholder: "e-mail"%><br>
<%= f.text_field :age, placeholder: "Age" %><br>
<%=f.select :gender, ["Male", "Female", "Not Into Labels"], :prompt => "Change Gender"%><br>
<%=f.select :city_id, [["San Francisco",1], ["New York", 2], ["London",3]], :prompt => "Change City"%><br>
<%= f.file_field :avatar %><br>
<%=f.submit "Update Profile"%><br>
<%end%>