<h1> Sign Up </h1>

<%= form_for @user, :html => { :multipart => true } do |f| %>
	<% if @user.errors.any? %>	
    	<div id="error_explanation">
	      <h2><%= pluralize(@user.errors.count, "error") %> prohibited sign up:</h2>

	      <ul>
	      <% @user.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	    </div>
	      <% end %>
	<% end %>

	<%= f.text_field :first_name, placeholder: "First Name" %><br>
	<%= f.text_field :last_name, placeholder: "Last Name" %><br>
	<%= f.text_field :email, placeholder: "Email" %><br>
	<%= f.password_field :password, placeholder: "Password" %><br>
	<%= f.password_field :password_confirmation, placeholder: "Confirm Password" %><br>
	<%= f.text_field :age, placeholder: "Age" %><br>
	<%= f.select :gender, [ 'Male', 'Female'], :prompt => 'Select Gender' %><br>
	<%= f.file_field :avatar %>
	<%= f.submit "Sign Up!" %>
<%end%>