<div id="user-map"></div>
<center>
<% if flash[:notice] %>
      <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>
</center>
<div class="container">
<div class="page-container text-center">
  <%if current_user == @user%>
    <div id="user-info">
      <h1>  Welcome, <%= @user.first_name %> <%= @user.last_name%></h1>
      <%= image_tag @user.avatar.url(:thumb) %><br>
      Age: <%= @user.age%><br>
      Gender: <%= @user.gender%>
    </div>
  <%if @is_creator && !@is_creator.empty?%>
    <div class ="activity-list-container text-left">  
      <h3> Activities I'm Hosting </h3>
        <% @is_creator.each do |event| %>
          <div class='list-group'>
            <h4><%= link_to event.name, event_path(event)%> <small>(<%=event.sport.name%>)</small></h4>
            <span><b>Location:</b> <%= event.address%></span><br>
            <span class="event-time"> <b>Date/Time:</b> <%= event.date.strftime("%b %d,")%> <%= event.time.strftime("%I:%M%p") %> </span>
            <span class='event-details'><br>
              <b>Participants:</b> (<%= event.users.count + event.current_headcount%>/<%= event.max_headcount%>)<br>
                <%if (event.users.count + event.current_headcount) == event.max_headcount%>
                  FULL 
                <%else %>
                  OPEN 
                <%end%>
            </span>
          </div>
          <% end %> 
        <% end %>
    </div>
    <div>
  <%if !@events.empty?%>
    <div class ="activity-list-container text-left"> 
      <h3> Activities I'm Joining </h3>
        <% @events.each do |event| %>
          <div class='list-group'>
            <h4><%= link_to event.name, event_path(event)%> <small>(<%=event.sport.name%>)</small></h4>
            <span><b>Location:</b> <%= event.address%></span><br>
            <span class="event-time"> <b>Date/Time:</b> <%= event.date.strftime("%b %d,")%> <%= event.time.strftime("%I:%M%p") %> </span>
            <span class='event-details'><br>
              <b>Participants:</b> (<%= event.users.count + event.current_headcount%>/<%= event.max_headcount%>)<br>
                <%if (event.users.count + event.current_headcount) == event.max_headcount%>
                  FULL 
                <%else %>
                  OPEN 
                <%end%>
            </span>
          </div>
          <% end %> 
        <% end %>
    </div>
    <div>
  <%else%>
   <div id="user-info">
      <h1>  Welcome, <%= @user.first_name %> <%= @user.last_name%></h1>
      <%= image_tag @user.avatar.url(:thumb) %><br>
      Age: <%= @user.age%><br>
      Gender: <%= @user.gender%>
    </div>
    </div><br><br> 
      <% @events.each do |event| %>
          <div class ="activity-list-container text-left"> 
          <div class='list-group'>
            <h4><%= link_to event.name, event_path(event)%> <small>(<%=event.sport.name%>)</small></h4>
            <span><b>Location:</b> <%= event.address%></span><br>
            <span class="event-time"> <b>Date/Time:</b> <%= event.date.strftime("%b %d,")%> <%= event.time.strftime("%I:%M%p") %> </span>
            <span class='event-details'><br>
              <b>Participants:</b> (<%= event.users.count + event.current_headcount%>/<%= event.max_headcount%>)<br>
                <%if (event.users.count + event.current_headcount) == event.max_headcount%>
                  FULL 
                <%else %>
                  OPEN 
                <%end%>
            </span>
          </div>
          <% end %> 
    </div>
    <div>
    <div class="container"
    <% @is_creator.each do |event| %>
      <div class ="activity-list-container text-left">  
         <div class='list-group'>
            <h4><%= link_to event.name, event_path(event)%> <small>(<%=event.sport.name%>)</small></h4>
            <span><b>Location:</b> <%= event.address%></span><br>
            <span class="event-time"> <b>Date/Time:</b> <%= event.date.strftime("%b %d,")%> <%= event.time.strftime("%I:%M%p") %> </span>
            <span class='event-details'><br>
              <b>Participants:</b> (<%= event.users.count + event.current_headcount%>/<%= event.max_headcount%>)<br>
                <%if (event.users.count + event.current_headcount) == event.max_headcount%>
                  FULL 
                <%else %>
                  OPEN 
                <%end%>
            </span>
          </div>
          <% end %> 
        <% end %>
     </div>
  </div>
  </div>
<% if @user.attributes['city_id'] %>
    <% if (@local != @events && !@local.blank?) %>
    <div class ="activity-list-container text-left">
    <h3> Recommended Activities </h3>
    <% @local.each do |local| %>
      <% if !local.users.all.exists?(current_user.id) && local.user_id != @user.id %>      
        <div class='list-group'>
         <p>
         <h4> <%= link_to local.name, event_path(local)%><br>
         <span class='event-details'>
          (<%=local.sport.name%>)
            <%if (local.users.count + local.current_headcount) == local.max_headcount%>
              FULL 
            <%else %>
              OPEN 
            <%end%> 
            (<%= local.users.count + local.current_headcount%>/<%= local.max_headcount%>)
           <span>
         </h4> 
           <span class="event-time"> <%= local.date.strftime("%b %d,")%> <%= local.time.strftime("%I:%M%p") %>, </span> 
           <%= local.address%>  
           <% if (current_user.id != local.user_id) && (local.users.count + local.current_headcount) < local.max_headcount && !local.users.all.exists?(current_user.id)%>
             <%= button_to "Join", attendings_path(local), class:"btn btn-success" %>
           <% end %>  
          </p>
        </div>
    <% end %>
    <% end %>
    <%end%>
  <% end %>
</div>

<script type="text/javascript">
  var city = '<%=@user.city.name%>';
  var addresses = <%=raw @addresses%>;

  renderMap(city,'user-map', addresses);
 </script>

