<div id="user-map"></div>
<div class="container">
<div class="page-container text-center">
  <%if current_user == @user%>
    <div id="user-info">
      <h2>  Welcome, <%= @user.first_name %> <%= @user.last_name%></h2>
        <div class="col-xs-12 col-sm-12 col-md-12" >
          <div class="col-xs-6 col-sm-6 col-md-6" >
            <%= image_tag @user.avatar.url(:thumb) %>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 text-left" ><br>  
            Age: <%= @user.age%><br>
            Gender: <%= @user.gender%><br>
          </div>
        </div>
    </div><br><br>
  <%if @is_creator && !@is_creator.empty?%>
    <div class ="activity-list-container text-left">  
      <h3> Activities I'm Hosting: </h3>
        <% @is_creator.each do |event| %>
          <div class='list-group'>
            <p> 
              <h4><%= link_to event.name, event_path(event)%>
                <span class='event-details'>
                  (<%=event.sport.name%>), 
                  <%if (event.users.count + event.current_headcount) == event.max_headcount%>
                    FULL 
                  <%else %>
                    OPEN 
                  <%end%> 
                  (<%= event.users.count + event.current_headcount%>/<%= event.max_headcount%>)
                <span>
              </h4> 
              <span class="event-time"> <%= event.date.strftime("%b %d,")%> <%= event.time.strftime("%I:%M%p") %> </span>
                ,<%= event.address%>
            </p>
          </div>
          <% end %> 
        <% end %>
    </div>
    <div>
  <%if !@events.empty?%>
    <div class ="activity-list-container text-left"> 
      <h3> Activities I'm Joining: </h3>
        <% @events.each do |event| %>
          <div class='list-group'>
            <p> 
              <h4> <%= link_to event.name, event_path(event)%>
                <span class='event-details'>
                  (<%=event.sport.name%>), 
                  <%if (event.users.count + event.current_headcount) == event.max_headcount%>
                    FULL 
                  <%else %>
                    OPEN 
                  <%end%> 
                  (<%= event.users.count + event.current_headcount%>/<%= event.max_headcount%>)
                <span>
              </h4> 
              <span class="event-time"> <%= event.date.strftime("%b %d,")%> <%= event.time.strftime("%I:%M%p") %> </span>
                ,<%= event.address%>
            </p>
           </div>
         <% end %>  
        <% end %>
    </div>
  <%else%>
    <div id="user-info">
      <h2>  <%= @user.first_name %> <%= @user.last_name%></h2>
        <div class="col-xs-12 col-sm-12 col-md-12" >
          <div class="col-xs-6 col-sm-6 col-md-6" >
            <%= image_tag @user.avatar.url(:thumb) %>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 text-left" ><br>  
            Age: <%= @user.age%><br>
            Gender: <%= @user.gender%><br>
          </div>
        </div>
    </div><br><br> 
      <% @events.each do |event| %>
        <div class ="activity-list-container text-left"> 
          <div class='list-group'>
            <p> 
              <h4> <%= link_to event.name, event_path(event)%>
                <span class='event-details'>
                  (<%=event.sport.name%>), 
                    <%if (event.users.count + event.current_headcount) == event.max_headcount%>
                      FULL 
                    <%else %>
                      OPEN 
                    <%end%> 
                  (<%= event.users.count + event.current_headcount%>/<%= event.max_headcount%>)
                <span>
              </h4> 
              <span class="event-time"> <%= event.date.strftime("%b %d,")%> <%= event.time.strftime("%I:%M%p") %> </span>
                ,<%= event.address%>
            </p>
          </div>
      <% end %> 
    <% @is_creator.each do |event| %>
      <div class ="activity-list-container text-left">  
        <div class='list-group'>
          <p> 
            <h4> <%= link_to event.name, event_path(event)%>
              <span class='event-details'>
                (<%=event.sport.name%>), 
                <%if (event.users.count + event.current_headcount) == event.max_headcount%>
                  FULL 
                <%else %>
                  OPEN 
                <%end%> 
                (<%= event.users.count + event.current_headcount%>/<%= event.max_headcount%>)
              <span>
            </h4> 
            <span class="event-time"> <%= event.date.strftime("%b %d,")%> <%= event.time.strftime("%I:%M%p") %> </span> 
              ,<%= event.address%> 
          </p>
        </div>
      <% end %> 
     </div>
    <% end %>
  </div>

<% if @user.attributes['city_id'] %>
    <% if @local.exists?(@events) %>
    <div class ="activity-list-container text-left">
    <h3> Recommended Activities: </h3>
    
    <% @local.each do |local| %>
      <% if !local.users.all.exists?(current_user.id) && local.user_id != @user.id %>
      
          
        <div class='list-group'>
         <p>
         <h4> <%= link_to local.name, event_path(local)%>
         <span class='event-details'>
          (<%=local.sport.name%>), 
            <%if (local.users.count + local.current_headcount) == local.max_headcount%>
              FULL 
            <%else %>
              OPEN 
            <%end%> 
            (<%= local.users.count + local.current_headcount%>/<%= local.max_headcount%>)
           <span>
         </h4> 
           <span class="event-time"> <%= local.date.strftime("%b %d,")%> <%= local.time.strftime("%I:%M%p") %>, </span> 
           <%= local.address%>  
           <% if (current_user.id != local.user_id) && (local.users.count + local.current_headcount) < local.max_headcount && !local.users.all.exists?(current_user.id)%>
             <%= button_to "Join", attendings_path(local), class:"btn btn-success" %>
           <% end %>  
          </p>
        </div>
    <% end %>
    <% end %>
    <%end%>
  <% end %>

</div>

<script type="text/javascript">
  var city = 'San Francisco';
  renderMap(city,'user-map');
 </script>

