<div class="page-container">
<div class="eventshow-map-container">

</div>

<div>
	<h1 class="overflow h3 space-1 text-center"><%=@event.sport.name%>: <%=@event.name %></h1>
	<h5 class="space-2 text-muted text-center"><%= @event.address %> (<%= @event.city.name %>)</h5>
</div>
<br>
<div id="event-stats">
 
	<div class="row row-condensed text-muted text-center icons" >
		<div class="col-xs-2 col-sm-2 col-md-2" >
			<span >
				<%= image_tag @creator.avatar.url(:thumb), :class=>"img-circle" %>
			</spam>
			<p>Host: <br><%= link_to (@creator.first_name+" "+@creator.last_name), user_path(@event.user_id)%>
			</p>
		</div>

		<div class="col-xs-2 col-sm-2 col-md-2" >
			<i class="fa fa-calendar fa-2x"></i>
				<p>Date: <br><%= @event.date.strftime("%b %d, %Y")%>
				</p>
			
		</div>
		
		<div class="col-xs-2 col-sm-2 col-md-2" >
			<i class="fa fa-clock-o fa-2x">	</i>
				<p>Time: <br><%= @event.time.strftime("%I:%M%p") %>
				</p>
		
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2" >
			<i class="fa fa-users fa-2x"></i>
				<p><%=@event.users.count + @event.current_headcount%> Players <br>Currently
				</p>
			
		</div>

		<div class="col-xs-2 col-sm-2 col-md-2" >
			<i class="fa fa-user-plus fa-2x"></i>
				<p>Needed <%=@event.max_headcount - @event.current_headcount%> More <br>Players
				</p>
	
		</div>


	</div>


</div>

<span class="text-center">
	<% if (current_user.id != @creator.id) && (@event.users.count + @event.current_headcount) < @event.max_headcount && !@available.exists?(current_user.id)%>
	<%= button_to "Join", attendings_path(@event) %>
	<% end %>
</span>

<p class="text-right">
	<% if @event.user_id == current_user.id %>
	  <span class="links"><%= link_to 'Edit', edit_event_path(@event) %> | 
	  <span class="links"><%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure you want to delete this event' } %></span> | 
	<% end %>
	   <span class="links"><%= link_to 'Back', city_path(@event.city_id) %></span>
</p>
	 


<% if (current_user.id == @creator.id) || @available.exists?(current_user.id)%>
<%= button_to "Leave Event", remove_attending_path(@event), method: :patch %>
<% end %>
 
