<div id="event-map"></div>
	<h1 class="overflow h3 space-1 text-center"><%=@event.sport.name%>: <%=@event.name %></h1>
	<h5 class="space-2 text-muted text-center"><%= @event.address %> (<%= @event.city.name %>)</h5>
</div><br>

<div class="page-container">
<div class="container">
<div id="event-stats">
	<div class="row row-condensed text-muted text-center icons" >
		<div class="col-xs-2 col-sm-2 col-md-2" >
			<span >
				<%= image_tag @creator.avatar.url(:thumb), :class=>"img-circle" %>
			</span>
			<p>Host: <br><%= link_to (@creator.first_name+" "+@creator.last_name), user_path(@event.user_id)%></p>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2" >
			<i class="fa fa-calendar fa-2x"></i>
				<p>Date: <br><%= @event.date.strftime("%b %d, %Y")%></p>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2" >
			<i class="fa fa-clock-o fa-2x">	</i>
				<p>Time: <br><%= @event.time.strftime("%I:%M%p") %></p>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2" >
			<i class="fa fa-users fa-2x"></i>
				<p><%=@event.users.count + @event.current_headcount%> Players <br>Currently</p>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2" >
			<i class="fa fa-user-plus fa-2x"></i>
				<p>Needed <%=@event.max_headcount - @event.current_headcount%> More <br>Players</p>
		</div>
	</div>
</div>
<div id="event-description">
	<h4 class="row-space-4 text-center"> About this activity
		<%if (@event.users.count + @event.current_headcount) == @event.max_headcount%>
			<span id="full-status">(FULL)</span>
		<%else %>
			<span id="open-status">(OPEN)</span>
		<%end%>
	</h4>
	<center>
	<p><%=@event.description%></p>
	</center>
</div>
<div id="Participants">
	<h4 class="row-space-4"> 
		Current Participants: 
			<span class='list-group'>
				<% @event.users.each do |attendee| %>
					<%= link_to attendee.first_name + " " + attendee.last_name, user_path(attendee.id)%> |
				<% end %>
			</span>
	</h4>
</div>
<span class="text-center">
	<% if (current_user.id != @creator.id) && (@event.users.count + @event.current_headcount) < @event.max_headcount && !@available.exists?(current_user.id)%>
	<%= button_to "Join", attendings_path(@event), class:"btn btn-success" %>
	<% end %>
	<% if (current_user.id != @creator.id) && @available.exists?(current_user.id)%>

	<%= button_to "Leave Event", remove_attending_path(@event), method: :patch, class:"btn btn-warning" %>
	<% end %>
</span>
<p class="text-right">
	<% if @event.user_id == current_user.id %>
	  <span class="links"><%= link_to 'Edit', edit_event_path(@event) %> | 
	  <span class="links"><%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure you want to delete this event' } %></span> | 
	<% end %>
 	<span class="links"><%= link_to 'Back', city_path(@event.city_id) %></span>
</p>
</div>
<!-- call functions that displays map -->
<script type="text/javascript">
  var eventCity ='<%=@city.name%>'
  console.log("this event city", eventCity)
  var eventPlace = '<%= @event.address %>';
   console.log("this the event place", eventPlace)
  renderMap(eventCity,'event-map', eventPlace);

</script>
<!-- Displays map -->