<div>
	<h1><%= @city.name%></h1>
</div>
<div class="text-right">
	<%= link_to " Create New Activity", city_event_new_path(@city), :class => "fa fa-plus " %>
</div>

<div>
  <% @city.events.each do |event| %>
  	<div class='list-group'>
  	 <p> 
	  	 <%= event.date.strftime("%b %d,")%> Status: <%= event.users.count + event.current_headcount%>/<%= event.max_headcount%> <h4> <%= link_to event.name, event_path(event)%></h4> <%=event.sport.name%> 
	  	 (<%= event.address%>)
	  	 <%if (event.users.count + event.current_headcount) == event.max_headcount%>
	  	    <h4> FULL </h4>
	 	 <%else %>
	 	 	<h4> OPEN </h4>
	  	 <%end%>
 
  	 </p><br>

  	 
  	 <% if current_user && (event.users.count + event.current_headcount) < event.max_headcount %>
  	 <%= button_to "Join", attendings_path(event) %>
  	 <% end %>

</div>
<br>

<% end %>
