<div>
	<h1><%= @city.name%></h1>
</div>
<div class="text-right">
	<%= link_to " Create New Activity", city_event_new_path(@city), :class => "fa fa-plus " %>
</div>

<div>
  <% @city.events.each do |event| %>
  	<div class='list-group'>
  	 <p> <%= link_to event.name, event_path(event)%> Filled: <%= event.users.count + event.current_headcount%>/<%= event.max_headcount%></p> <br>
  	 <% if current_user && (event.users.count + event.current_headcount) < event.max_headcount %>
  	 <%= button_to "Join", attendings_path(event) %>
  	 <% end %>
</div>
<br>

<% end %>
