<div id="sites-index-page-wrapper">
  <section id="hero-section">
    <div id="bgndVideo" class="player" 
    	data-property="{videoURL:'http://youtu.be/uw08j-yOfcE',containment:'self',autoPlay:true, mute:true, startAt:5, opacity:1, addRaster:true, stopAt:75.5, showControls:false, stopMovieOnBlur:false}">
    </div>
    <div class="navbarsplash">
    	<div class="navbarsplash-inner">
    		<div class="navlogo"><%=image_tag('logo.png')%></div>
    			<div class="navbarsplash-login">
            <%if current_user %>
              <a><%= link_to "Cities", cities_path, method: :get, :class => "btn-signup"%></a> 
              <a><%=link_to "Activities", user_path(current_user), method: :get, :class => "btn-signup"%></a>
              <a><%=link_to "Log out", sessions_path, method: :delete, :class => "btn-login"%></a>
            <% else %>
    				<a href="#signupModal" data-toggle="modal" data-toggle-flip data-toggle-flip-target="#registerFlip" data-track-event="SignUpModal,TopbarBtn" class="btn-signup" id="registerBtn">Sign up</a>
    				<a href="#loginModal" data-toggle="modal" data-toggle-flip data-toggle-flip-target="#loginFlip" data-directive="login" data-track-event="LogInModal,TopbarBtn" class="btn-login" id="loginBtn"><i class="icon-user"></i> Log in</a>
    			</div>
          <% end %>
    	</div>
    </div>
    <section id="home" class="video">
    	<div class="main-splash row">
    		<div class="inner">
    		<h1> GameOn </h1>
    		<h2>Think Tinder, for sports. Join. Connect. Play.</h2>
            <%if current_user%>
              <a><%= link_to "Jump In!", cities_path, method: :get, :class => "btn-primary"%></a>
            <% else %>
          <a href="#signupModal" data-toggle="modal" data-toggle-flip data-toggle-flip-target="#registerFlip" data-track-event="SignUpModal,TopbarBtn" class="btn-primary" id="registerBtn">Start Now!</a>
          <% end %>
          <p>It's free ;)</p>
    		</div>
    	</div>
    </section>
  </section>
  <div class="line-height"></div>
    <div class="container">
      <div class="row hero">
        <div class="col-sm-4 portfolio-item">
          <%= image_tag("splash1.png", :class => "form-control", :style => "width: 360px; height: 208px")%>
          <h3 class="descript">Join</h3>
          <p>Joing and find activities of more than 5 different sports, created by our dedicated team. Organized your activities with players in your area or even with your friends.</p>
        </div>
        <div class="col-sm-4 portfolio-item">
          <%= image_tag("splash3.png", :class => "form-control", :style => "width: 360px; height: 208px")%>
          <h3 class="descript">Connect</h3>
          <p>Connect to our database of players centered around your sporting interests: Communities, associtations, students, and sports club.</p>
        </div>
        <div class="col-sm-4 portfolio-item">
          <%= image_tag("splash2.png", :class => "form-control", :style => "width: 360px; height: 208px")%>
          <h3 class="descript">Play</h3>
          <p>Play with new and interesting people around your area. Filter the players by sports, genders, and age. The possibilities are endless.</p>
        </div>
      </div>
    </div>
  <div id="photo-bg" class="line-height"></div>

<!-- <div id="squares">
  <div id="1" class="square">
    </div><div id="2" class="square">
    </div><div id="3" class="square">
    </div><div id="4" class="square">
    </div><div id="5" class="square">
    </div><div id="6" class="square">
    </div><div id="7" class="square">
    </div><div id="8" class="square">
    </div><div id="9" class="square">
    </div><div id="10" class="square">
    </div><div id="11" class="square">
    </div><div id="12" class="square">
    </div><div id="13" class="square">
    </div><div id="14" class="square">
    </div><div id="15" class="square">
    </div><div id="16" class="square">
    </div><div id="17" class="square">
    </div><div id="18" class="square">
    </div><div id="19" class="square">
    </div><div id="20" class="square">
    </div><div id="21" class="square">
    </div><div id="22" class="square">
    </div><div id="23" class="square">
    </div><div id="24" class="square">
    </div><div id="25" class="square">
    </div><div id="26" class="square">
    </div><div id="27" class="square">
    </div><div id="28" class="square">
    </div><div id="29" class="square">
    </div><div id="30" class="square">
    </div><div id="31" class="square">
    </div><div id="32" class="square">
    </div><div id="33" class="square">
    </div><div id="34" class="square">
    </div><div id="35" class="square">
    </div><div id="36" class="square">
    </div><div id="37" class="square">
    </div><div id="38" class="square">
    </div><div id="39" class="square">
    </div><div id="40" class="square">
    </div><div id="41" class="square">
    </div><div id="42" class="square">
    </div><div id="43" class="square">
    </div><div id="44" class="square">
    </div><div id="45" class="square">
    </div><div id="46" class="square">
    </div><div id="47" class="square">
    </div><div id="48" class="square">
    </div><div id="49" class="square">
    </div><div id="50" class="square">
    </div><div id="51" class="square">
    </div><div id="52" class="square">
    </div><div id="53" class="square">
    </div><div id="54" class="square">
    </div><div id="55" class="square">
    </div><div id="56" class="square">
  </div>
</div>​ -->










  </div>
<!-- Modal -->
  <%= render "partials/modal" %>
</div>